@use '../../variables/colors';

header{
	display: flex;
	justify-content: center;

	padding: 1rem 0;
}

main{
	hr{
			border: none;
			height: 2px;
			background-color: colors.$accent;
			margin-bottom: 1rem;
	}

	.content{
		margin-top: 3rem;
		text-align: center;
		font-size: 2rem;
		letter-spacing: .1rem;
		word-spacing: .5rem;
		margin: 2rem;
		a{
			color: colors.$accent;
		}
	
		@media(max-width: 1000px){
			font-size: 1.5rem;
			word-spacing: .2rem;
		}
	}
	
	.cards{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 1rem;
	
		.card{
			background-color: colors.$contrast;
			text-align: center;
			padding: 1rem;
			margin: 0 1rem;
			border-radius: .5rem;
			flex: 0 1 30rem;
	
			h2{
				margin-bottom: 1rem;
			}
	
			img{max-width: 500px;}
	
			@media(max-width: 1100px){img{max-width: 400px;}}
			@media(max-width: 550px){img{max-width: 300px;}}
			@media(max-width: 350px){img{max-width: 250px;}}
	
			.multi-img{
				display: flex;
				flex-direction: column;
				img:first-child{
					align-self: flex-start;
				}
				img:last-child{
					align-self: flex-end;
				}
			}
		}
	}
}

footer{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5rem;
	min-height: 150px;
	@media(max-width: 720px){padding-bottom: 3rem;}
	i{
			font-size: 5rem;
	}
	a{
			color: colors.$foreground;
	}

	.ig{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
	}
	.address{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
		line-height: 1.5rem;
	}
}


.post-thumbnail{
	width: 400px;

	img{
		width: 100%;
		height: auto;
	}
}

.wp-block-group{
	width: 80%;

	text-shadow: 0.2rem 0.2rem 0.5rem black;
	color: white;
	font-weight: bolder;
	font-size: 1.75rem;
	line-height: 2rem;
	background-color: #666d;
	border-radius: 0.3rem;
	padding: 1rem;
	
	a{
		color: white;
		font-size: 1.5rem;
	}
}