header{
    display: flex;
    justify-content: center;

    padding: 1rem 0;
}

article {
    hr{
        border: none;
        height: 2px;
        background-color: #ee1718;
        margin-bottom: 1rem;
    }
}