@use '../../variables/colors';

header{
    display: flex;
    justify-content: center;

    padding: 1rem 0;
}

article{
    hr{
        border: none;
        height: 2px;
        background-color: colors.$accent;
        margin-bottom: 1rem;
    }
}

footer{
    display: flex;
    justify-content: center;
    padding: 1rem;
    i{
        font-size: 5rem;
    }
    a{
        color: colors.$foreground;
    }
}